$primary-bg-color: #f0efef;
$font-family: sans-serif;
$text-color: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $font-family;
  background-color: $primary-bg-color;
  color: $text-color;
  max-width: 1250px;
}
