.error {
  margin: 0 auto;
  padding: 2rem;
  color: red;
  font-size: 0.9rem;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 100;

  @media (min-width: 768px) {
    font-size: 1.1rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
  p {
    text-align: center;
  }
}
