$header-bg-color: rgba(224, 224, 224, 0.9);
$header-height: 5rem;
$header-padding: 2%;
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $header-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: $header-padding;
  box-shadow: $box-shadow;
  z-index: 10;
}
