.error {
  font-size: var(--font-size-small);
  margin: 0 auto;
  padding: 2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  background: var(--darker-bg-color);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 100;

  @media (min-width: 768px) {
    font-size: var(--font-size-mwdium);
  }
  @media (min-width: 1024px) {
    font-size: var(--font-size-large);
  }
  p {
    text-align: center;
  }
}
