.card {
  background-color: var(--white-bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  min-height: 40vh;
  color: var(--darker-bg-color);
  padding: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
